.wrapping {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  list-style-type: none;
  border-radius: 2px;
}

.item {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.item-xs {
  padding-top: 88.889%;
}

.text {
  position: absolute;
  line-height: 28px;
  white-space: nowrap;
  width: 100%;
  margin: 0;
  bottom: 0;
  background-color: azure;
  opacity: 0.75;
  border-radius: 0 0 2px 2px;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
