.carousel {
  position: relative;
}

.carousel-horizon {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 400vw;
}

.carousel-vertical {
  width: 100vw;
}

.slide {
  display: block;
  white-space: nowrap;
  list-style-type: none;
  background-color: transparent;
}

.slide-item {
  position: relative;
}

.item-horizon {
  display: inline-block;
  width: 66vw;
}

.item-vertical {
  display: block;
  width: 50vw;
}

.slide-item-transition {
  transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
}

.carousel-back {
  width: 100%;
  height: 100%;
}



