<!--    center x    -->
<div [ngClass]="{'carousel-horizon': isXS, 'carousel-vertical': !isXS}"
     class="carousel text-center">

    <ul (swipeleft)="updateSlides(sliding.Right)"
        (swiperight)="updateSlides(sliding.Left)"
        (swipeup)="updateSlides(sliding.Down)"
        (swipedown)="updateSlides(sliding.Up)"
        (panleft)="panSlides($event, sliding.Right)"
        (panright)="panSlides($event, sliding.Left)"
        (panstart)="isPanning = true;"
        (panend)="resetState()"
        class="slide p-0">

        <!--    slide x or y    -->
        <app-carousel-item [@slideState]="slideState"
                           *ngFor="let slide of slides"
                           (clickItem)="slideToItem($event)"
                           (tapPlay)="onTapPlay($event)"
                           [item]="slide"
                           [isXS]="isXS"
                           [style.left.px]="distanceX"
                           [style.top.px]="distanceY"
                           class="slide-item px-3 my-sm-4 zindex-modal mx-sm-auto"
                           [class.slide-item-transition]="!isPanning"
                           [ngClass]="{'item-horizon': isXS, 'item-vertical': !isXS}">
        </app-carousel-item>
    </ul>

    <div *ngIf="!isXS"
         (tap)="onTap($event)"
         (panup)="panSlides($event, sliding.Down)"
         (pandown)="panSlides($event, sliding.Up)"
         (panstart)="isPanning = true;"
         (panend)="resetState()"
         class="carousel-back absolute-center"></div>
</div>
