<div appWindowsEvent
     (resize)="setSize($event)"
     (click)="onTapClose()"
     class="wrapping-player zindex-tooltip position-fixed"
>
  <div class="icon icon-close zindex-fixed" (click)="onTapClose()">
    <img src="assets/images/icons/icon_close_45px.png" height="45" width="45"/>
  </div>

  <app-video-player (changeState)="onStateChange($event)"
                    [videoId]="videoId"
                    [width]="width"
                    [height]="height"
                    [isXS]="isXS"
                    [isBG]="false"
                    class="video-player"
  ></app-video-player>
</div>

