@import "../shared/my-variables";

.wrapping {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapping-category {
  position: relative;
  height: 45px;
  white-space: nowrap;
  padding: 0;
}

.category-title {
  position: absolute;
  left: 50%;
  cursor: pointer;
  transform: translate3d(-50%, 0, 0) scale(1);
  -webkit-transform: translate3d(-50%, 0, 0) scale(1);
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  color: $color-white;
}

.category-title:hover {
  transform: translate3d(-50%, 0, 0) scale(1.08);
  -webkit-transform: translate3d(-50%, 0, 0) scale(1.08);
  color: $color-primary !important;
}

.wrapping-bar {
  position: absolute;
  width: 100%;
  bottom: 1px;
  margin: 0;
}

.bar {
  padding: 0 1px 0 1px;
}

.bar div {
  height: 1px;
  background-color: $color-white;
}

.wrapping-category-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.category-item {
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 33.34%;
  cursor: pointer;
}

.item-title {
  flex: 0 0 100%;
}


