<div class="row wrapping">
    <button class="btn icon"></button>

    <div (click)="toggling()"
         class="wrapping-category text-center col-4 offset-4"
    >
        <p class="category-title">{{ currentTitle }}</p>

        <div class="wrapping-bar row">
            <div class="bar col-4"><div></div></div>
            <div class="bar col-4"><div></div></div>
            <div class="bar col-4"><div></div></div>
        </div>
    </div>
</div>

<ng-container *ngIf="toggle">
    <div [style.width]="isXS ? '100vw' : '100vh'"
         [style.height]="isXS ? '100vh' : '100vw'"
         class="wrapping-category-item zindex-modal">
        <div *ngFor="let category of categories"
             (click)="selectCategory(category)"
             class="category-item d-flex align-content-center justify-content-center"
        >
            <div class="item-title">
                <h2 class="text-center">{{ category.title }}</h2>
            </div>

            <small>{{ category.projects }} Projects</small>
        </div>
    </div>
</ng-container>


