<div routerLink="/" class="icon icon-back zindex-fixed">
    <img src="assets/images/icons/icon_back_45px.png" height="45" width="45"/>
</div>

<app-fullscreen-player *ngIf="isShowPlayer"
                       (changeState)="onStateChange($event)"
                       (tapClose)="onTapClose()"
                       [videoId]="item.videoId"
                       [isXS]="isXS"
></app-fullscreen-player>

<div appWindowsEvent
     (resize)="onResize($event)"
     [class.wrapping-sm]="isXS"
     class="wrapping"
>
    <ng-container *ngIf="isXS">
        <div [style.background-image]="coverImage"
             class="wrapping-play-video background-cover"
        >
            <div *ngIf="item.videoId"
                 (click)="playVideo()"
                 class="icon absolute-center" >
                <img src="assets/images/icons/icon_play_white_45px.png" height="45" width="45"/>
            </div>
        </div>

        <div class="icon icon-down zindex-fixed">
            <img class="absolute-center" src="assets/images/icons/icon_down_24px.png" height="24" width="24"/>
        </div>

        <div [style.background-image]="backgroundImage"
             class="background-image background-cover zindex-background"
        ></div>
    </ng-container>


    <div class="row m-0 mt-sm-5">
        <small *ngIf="isXS" class="col-12 my-2">{{ item.duration }}</small>
        <div class="col-12 col-sm-5 offset-sm-1">
            <h2 [class.color-primary]="!isXS"
                class="mb-3 mb-sm-1">{{ item.title }}</h2>
            <small *ngIf="!isXS"
                   class="color-secondary d-block font-weight-light mb-4">{{ item.details }}</small>
            <small *ngIf="!isXS && item.videoId"
                   (click)="playVideo()"
                   class="color-primary d-block font-weight-bold">Watch video ></small>
        </div>

        <p [class.color-secondary]="!isXS"
           class="col-12 col-sm-5 mb-5">{{ item.body }}</p>
        <small *ngIf="isXS" class="d-block font-weight-light col-12">{{ item.details }}</small>
    </div>




</div>

