
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
}

.avoid-clicks {
  pointer-events: none;
}

.zindex-background {
  z-index: -1;
}

.zindex-dropdown {
  z-index: 1000;
}
.zindex-sticky {
  z-index: 1020;
}
.zindex-fixed {
  z-index: 1030;
}
.zindex-modal-backdrop {
  z-index: 1040;
}
.zindex-modal {
  z-index: 1050;
}
.zindex-popover {
  z-index: 1060;
}
.zindex-tooltip {
  z-index: 1070;
}

