
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Ubuntu:700');
@import "app/shared/my-variables";

.font-display {
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
}

.font-body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.color-primary {
  color: $color-primary !important;
}

.color-second {
  color: $color-secondary !important;
}

.color-white {
  color: $color-white !important;
}

.color-dark {
  color: $color-dark !important;
}

.shadow-small {
  text-shadow: 0 1px 2px rgba(60, 58, 58, 0.5);
}


h1 {
  font-size: 4em;
  line-height: 1.125;
}

h2 {
  font-size: 2.25em;
  line-height: 1.125;
}

h3 {
  font-size: 1.5em;
  line-height: 1.333;
}

p {
  font-size: 1em;
  line-height: 1.5;
  font-weight: normal;
}

small {
  font-size: 0.75em;
  line-height: 1.5;
}






.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
}

.background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.icon {
  display: block;
  padding: 0;
  background-color: transparent;
}

.avoid-clicks {
  pointer-events: none;
}

.zindex-background {
  z-index: -1;
}

.zindex-dropdown {
  z-index: 1000;
}

.zindex-sticky {
  z-index: 1020;
}

.zindex-fixed {
  z-index: 1030;
}

.zindex-modal-backdrop {
  z-index: 1040;
}

.zindex-modal {
  z-index: 1050;
}

.zindex-popover {
  z-index: 1060;
}

.zindex-tooltip {
  z-index: 1070;
}


@media all and (min-width: 576px) {

  h2 {
    font-size: 3.6875em;
    line-height: 1.333;
  }

  h3 {
    font-size: 2.2125em;
    line-height: 1.333;
  }

  p {
    font-size: 1em;
    line-height: 1.667;
    font-weight: normal;
  }

  small {
    font-size: 0.6em;
    line-height: 1.667;
  }
}