.wrapping {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0 -15px;
  background-color: transparent;
}

.carousel-vertical {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}


.wrapping-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
