@import "../shared/my-variables";

.wrapping {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.logo {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 0;
  top: 0;
  background-color: $color-dark;
}

.wrapping-category {
  position: absolute;
  top: 0;
  left: 0;
}

.category-horizon {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) rotateZ(-90deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(-90deg);
}

.wrapping-title {
  margin-top: 8rem;
}

.carousel-horizon {
  position: absolute;
  bottom: 6em;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

.wrapping-progress {
  position: absolute;
  bottom: 32px;
  width: 100%;
  margin: 0;
}

.progress-horizon {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) rotateZ(90deg);
  -webkit-transform: translate3d(-50%, -50%, 0) rotateZ(90deg);
  width: 100vh;
  height: 100vw;
  bottom: unset;
}

.progress-bar {
  padding-top: 1rem;
}

.wrapping-player {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.video-player {
  width: 100%;
}

.icon-close {
  position: absolute;
  top: 0;
  right: 0;
}

.background-gradient {
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  opacity: 0.15;
  background: #000000; /* fallback for old browsers */
  background: linear-gradient(-45deg, #000000, #434343);
}

.bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-cover-zindex {
  z-index: -200 !important;
}

.wrapping-preview {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 8rem;
}




