

<div appWindowsSize
     (resize)="recheck($event)"
     class="wrapping">

    <app-nav [width]="windowWidth"
             [height]="windowHeight"
             [isXS]="isXS"
    ></app-nav>

    <div class="text-center">
        <h2>Title</h2>
        <h3>Subtitle</h3>
    </div>

    <app-carousel [class.carousel-vertical]="!isXS" [isXS]="isXS"></app-carousel>

    <app-video-player [videoId]="videoId"
                      [width]="windowWidth"
                      [height]="windowHeight"
                      [isBG]="true"
                      class="wrapping-background-video"
    ></app-video-player>


</div>
