<div appWindowsEvent
     (wheel)="onWheeling($event)"
     (resize)="recheck($event)"
     (panstart)="isShowCarousel = true"
     class="wrapping">

    <ng-container *ngIf="!isShowCategory">
        <div class="logo zindex-fixed"></div>
    </ng-container>

    <app-category (toggling)="togglingCategory($event)"
                  [currentTitle]="item.category"
                  [style.width]="isXS ? '100vw' : '100vh'"
                  [style.height]="isXS ? '100vh' : '100vw'"
                  [class.zindex-modal]="isShowCategory"
                  [class.category-horizon]="!isXS"
                  class="wrapping-category"
    ></app-category>

    <ng-container *ngIf="!isShowCategory">
        <div [class.absolute-center]="!isXS"
             class="wrapping-title text-center mt-sm-0">
            <h2>{{ item.title }}</h2>

            <ng-container *ngIf="isXS; else HorizonSubtitle">
                <h3>{{ item.subtitle }}</h3>
            </ng-container>

            <ng-template #HorizonSubtitle>
                <div class="icon mx-auto mt-2 mb-1">
                    <img src="assets/images/icons/icon_play_45px.png" height="45" width="45"/>
                </div>
                <small>{{ item.duration }}</small>
            </ng-template>
        </div>


        <app-video-player *ngIf="isBgVideoChanged && checkShowCarousel()"
                          (changeState)="onBgStateChange($event)"
                          [videoId]="videoId"
                          [width]="windowWidth"
                          [height]="windowHeight"
                          [start]="start"
                          [end]="end"
                          [isBG]="true"
                          class="zindex-background absolute-center"
        ></app-video-player>


        <div [class.progress-horizon]="!isXS"
             class="wrapping-progress avoid-clicks zindex-fixed row">
            <app-progress-bar [currentIndex]="currentIndex"
                              [totalItems]="items.length"
                              class="progress-bar col-2 offset-2 offset-sm-5"
            ></app-progress-bar>
        </div>
    </ng-container>

    <ng-container *ngIf="isShowCarousel && !isShowCategory ">
        <app-carousel (update)="setItem($event)"
                      (tapPlay)="onTapPlay($event)"
                      (clickCarousel)="togglingCarousel()"
                      [items]="items"
                      [currentIndex]="currentIndex"
                      [isXS]="isXS"
                      [class.carousel-vertical]="!isXS"
                      [class.carousel-horizon]="isXS"
                      class="d-block zindex-popover"
        ></app-carousel>
    </ng-container>

    <div [style.background-image]="bgCoverImage"
         [class.bg-cover-zindex]="isBgVideoPlaying"
         class="bg-cover background-cover zindex-background"
    ></div>

    <ng-container *ngIf="isShowPlayer">
        <app-fullscreen-player (changeState)="onStateChange($event)"
                               (tapClose)="onTapClose()"
                               [videoId]="playItem.videoId"
                               [width]="windowWidth"
                               [isXS]="isXS"
                               class="zindex-popover"
        ></app-fullscreen-player>
    </ng-container>

    <ng-container *ngIf="!isXS && !toggleCarousel">
        <div class="wrapping-preview row col-8">
            <app-preview [item]="item"></app-preview>
        </div>
    </ng-container>

</div>
