<div class="wrapping row m-0">
  <div [@slideAnimation]="item.subtitle" class="preview-left background-cover col-8">
      <div class="col-12 mt-3 mb-1 overflow-hidden position-relative">
          <p class="slide-animation font-body color-white font-weight-normal position-relative">{{ item.subtitle }}</p>
      </div>

    <div class="row m-0">
      <div class="preview-text color-white col-6 overflow-hidden position-relative">
        <small class="slide-animation font-body font-weight-light position-relative">{{item.body}}</small>
      </div>
      <div class="preview-text color-white col-6 overflow-hidden position-relative">
        <small class="slide-animation font-body font-weight-light position-relative">{{item.details}}</small>
      </div>
    </div>
  </div>

  <div class="preview-right col-4 background-cover overflow-hidden">
    <p (tap)="onTapCase()"
       class="link font-body color-white font-weight-normal absolute-center zindex-fixed px-2 py-0">See Case</p>
    <div [@fade]="item.cover"
         [style.background-image]="bgImage"
         class="preview-cover absolute-center background-cover zindex-background"></div>
  </div>
</div>

